/* the responsiveness */

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .section3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section4 .intro, .blog-section{
  flex-direction: column;
}

.section2 a{
  background-color: rgb(41, 41, 68);
  color: white;
text-decoration: none;
margin:  10px 0;
padding: 1rem;
border-radius: 1rem;
}
.section2 a:hover{
  background-color: rgb(28, 28, 49);
}

.section2{
  background-color: white;
  margin:  10px 0;
  display: flex; 
  flex-direction: column;
  box-shadow: 0 0 4px 1px black;
  align-items: center;
}

.section2 h1{
  padding-left: 10px;
  text-align: center;
}
}